
.draftsforfriends form {
	white-space: nowrap;
}

.draftsforfriends .shared form {
	display: none;
}

.draftsforfriends .small,
.draftsforfriends .small input,
.draftsforfriends .small select {
	font-size: 11px;
	height: 26px;
	line-height: 23px;
}

.draftsforfriends form,
.draftsforfriends input,
.draftsforfriends select {
	vertical-align: baseline;
}

.draftsforfriends .fixed {
	height: 28px;
}

.draftsforfriends .actions {
	text-align: center;
}

.draftsforfriends .expired,
.draftsforfriends .invalid {
	color: #f00;
}

.draftsforfriends .invalid {
	border: 1px solid #f00;
}

.draftsforfriends .timer {
	display: flex;
	min-width: 175px;
}

.draftsforfriends .fade {
	animation-name: hideme;
	animation-duration: 3s;
	animation-delay: 1s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	position: absolute;
	top: 10px;
	left: 250px;
	width: 300px;
	height: 30px;
	text-align: center;
	vertical-align: initial;
	padding-top: 12px;
}

@keyframes hideme {
	0%   { opacity: 1; }
	100% { opacity: 0; display: none; }
}
