
.draftsforfriends form {
	display: none;
	white-space: nowrap;
}

.draftsforfriends .small,
.draftsforfriends .small input,
.draftsforfriends .small select {
	font-size: 11px;
	height: 26px;
	line-height: 23px;
}

.draftsforfriends form,
.draftsforfriends input,
.draftsforfriends select {
	vertical-align: baseline;
}

.draftsforfriends .fixed {
	height: 28px;
}

.draftsforfriends .actions {
	text-align: center;
}

.draftsforfriends .expired {
	color: #f00;
}
